---
title: "Chris Alexander"
layout: splash
author_profile: false
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
excerpt: "Game Designer & Programmer"
intro: 
  - excerpt: <i>Welcome, brave viewer, to the tangled web of ideas which chronicle my journey as a game developer.</i>

feature_row:

  - image_path: assets/images/echoesTeaser.jpeg
    alt: "Echoes of the Past"
    title: "Echoes of the Past"
    excerpt: "A story driven puzzle game set in a medieval environment."
    url: "https://lukecarter.itch.io/echoes-of-the-past" 
    btn_label: "Read & Play!"
    btn_class: "btn--primary"

  - image_path: /assets/images/cbTeaser.jpeg
    alt: "Cosy Builder"
    title: "Cosy Builder"
    excerpt: "A simple, relaxing game about decorating a room."
    url: "https://admiralegg.itch.io/cosybuilder"
    btn_label: "Read & Play!"
    btn_class: "btn--primary"

  - image_path: /assets/images/goonsTeaser.png
    title: "Goons"
    excerpt: "A wacky, mobile, music making experiment, featuring a cast of British stereotypes."
    url: "https://admiralegg.itch.io/goons"
    btn_label: "Read & Play!"
    btn_class: "btn--primary"

feature_row2:

  - image_path: /assets/images/code.jpg
    alt: "Experiemental Projects"
    title: "Experiments, Jams & Unreleased Projects"
    excerpt: "A mix of random projects featuring; an AI NPC cube, a fast paced Samurai typing game, and a farming sim on a train!"
    url: "/projects/"
    btn_label: "All Projects"
    btn_class: "btn--primary"
---

<!-- Intro excerpt -->
{% include feature_row id="intro" type="center" %}

<!-- 3 game feature row -->
{% include feature_row %}

<!-- Experimental feature row -->
{% include feature_row id="feature_row2" type="left" %}

<!-- NOTES -->
<!-- https://mmistakes.github.io/minimal-mistakes/docs/helpers/#feature-row -->
